# FOR LOOP

#### 1. Store monthly expenses in a list and find out total expenses for all months

In [3]:
exp = [2340, 2500, 3100, 4598, 1200]
total=0
for item in exp:
    total=total+item
print(total)

13738

#### 2. Print 1 to 10 using range()
##### In range() we specify our two indexes that are start index (where we have to start and stop index (where you want to stop +1 )

In [7]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

#### 3. Print the square of numbers from 1 to 10

In [9]:
for i in range (1,11):
    print(i*i)

1
4
9
16
25
36
49
64
81
100

#### 3. Print the cube of numbers from 1 to 10

In [12]:
for i in range(1,11):
    print(i**3)

1
8
27
64
125
216
343
512
729
1000

#### 4. Store monthly expenses in a list and find out total expenses for all months and print month number and expense and in the end print total expense

In [16]:
exp = [2340, 2500, 3100, 4598, 1200]
total=0
for i in range(len(exp)):
    print("Month",(i+1),"Expense:",exp[i])
    total=total+exp[i]
print("Total expense is:",total)

Month 1 Expense: 2340
Month 2 Expense: 2500
Month 3 Expense: 3100
Month 4 Expense: 4598
Month 5 Expense: 1200
Total expense is: 13738

#### 5. Search for lost car key in home and when found stop searching

In [18]:
key_location="Chair"
locations=["garage","Living room","Bed Room","Chair","Closet","Bathroom"]
for i in locations:
    if i==key_location:
        print("Key is found in",i)
        break
    else:
        print("Key is not found anywhere",i)

Key is not found anywhere garage
Key is not found anywhere Living room
Key is not found anywhere Bed Room
Key is found in Chair

#### 6. Print the square of numbers between 1 to 5 except even numbers

In [23]:
for i in range(1,6):
    if i%2!=0:
        print(i**2)
    else:
        continue     
# here we used continue so that even number condition can jump back to oddd number condition and no space should left in the solution in space of even number

1
9
25

#### 7. Print sum of all even numbers from 10 to 20

In [32]:
sum=0
for i in range(10,21):
    if i%2==0:
        sum=sum+i
        i+=1
    else:
        continue
print("sum is:", sum)

sum is: 90

#### 8. Python program to calculate the sum of all the odd numbers within the given range.

In [35]:
range1=int(input("Enter your starting point"))
range2=int(input("Enter your stoping point"))
sum=0
for i in range(range1,range2):
    if i%2!=0:
        sum=sum+i
    else:
        continue
print(sum)

Enter your starting point 1
Enter your stoping point 10

25

#### 9. Python program to check if the given string is a palindrome.

In [10]:
given_string=input("Enter the string")
reverse_string=""
for i in given_string:          
    reverse_string=i+reverse_string
if(given_string==reverse_string):
    print("The string",given_string,"is palindrome")
else:
    print("The string",given_string,"is not palindrome")

Enter the string naman

The string naman is palindrome

#### 10. Python program that accepts a word from the user and reverses it.

In [11]:
given_string=input("Write your word")
reverse_string=""
for i in given_string:
    reverse_string=i+reverse_string
print(reverse_string)

Write your word hello

olleh

#### 11. Python program to check if a given number is an Armstrong numbe

In [21]:
number=input("Enter your number")
number=str(number)
number_length=len(number)
sum=0
for i in number:
    sum=sum+int(i)**number_length
if(sum==int(number)):
    print("Its Armstrong Number")
else:
    print("It's not an Armstrong Number")

Enter your number 1634

Its Armstrong Number

#### 12. Python program to count the number of even and odd numbers from a series of numbers.

In [26]:
num_list=[1,2,5,4,6,2,8,1,75,44,2300,75,47]
for i in num_list:
    if i%2==0:
        print(i,"is an even number")
    else:
        print(i,"is an odd number")

1 is an odd number
2 is an even number
5 is an odd number
4 is an even number
6 is an even number
2 is an even number
8 is an even number
1 is an odd number
75 is an odd number
44 is an even number
2300 is an even number
75 is an odd number
47 is an odd number